header {
	float: left;
	background-color: #002D40;
	width: 100%;
}

header p {
	float: right;
}

a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #1AA6B7;
	background: #OB486B;
	padding: 20px 5px;
}
#logo {
	float: left;
	width: 40%;
	height: 40%;
	display: block;
}
nav {
	float: right;
	padding: 20px;
}
#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../img/menu-icon.png) center;
}
ul {
	list-style: nome;
}
li {
	display: inline-block;
	float: left;
	padding: 10px;
}

/* O que podemos observar aqui seria a estilização da pagina do nosso projeto final com o css estamos organizando essa 
pagina esta colocando cores deixando i site mais robusto e organizado, tratando como se fosse o celular iphone5 
para abranger todas as telas criamos uma pasta e css e um arquivo este style.css e linkamos o index do html movemos 
o todo navi que seria o manu descemos o slogan, colocamos uma cor no header definimos o tamanho e os paragrafos como 
o slogan todos flutuando um a esquerda e outra a direita, tiramos o traço dos links e colocamos um efeito quando passamos o 
mause, tranformaçao da logo em respansivel ela ira se adquar ao tamnha da sua tela, os dois potos seria para
voltar o nivel para poder acessar a pasta desejada, a lista vai ficar sem estilo sem bolia sem quadrado, colocamos
a lista uma na frente da outra. */

@media only screen and (max-width: 568px){

		#menu-icon {
			display: inline-block;
		}

		nav ul {
			display: nome;
			position: absolute;
			right: 20px;
			top: 60px;
			padding: 20px;
			background: #fff;
			width: 15%;

		}
		nav li {
			text-align: left;
			width: 90%;
			padding: 10px 0;
			margin: 0;

		}

		nav:hover ul {
			display: block;
			overflow: hidden;
		}

		nav li a {
			color: #3B8686;
		}
	}
	/*Media query 

quando o dispositivo passa a dimenção setada ele vai funcionar 
estamos criando uma regras para quando ela for acionada 
podemos conversar com os itens de lista estar dimensionando 
na nav:hover ele vai estar abrindo quando passar o mause
 e pode estar colocando outro no menu aparece e estaremos
mudando a cor da sua paleta criamos uma regra pro iphone */
@media only screen and (min-width: 481px){
	#menu-icon {

	}

	body {
		width: 100%;
		margin: 0 auto;
	}

	header {
		height: 350px;
	}

	section {
		height: 250px;
		clear: both;
	}

	#prom2, #prom1  {
		width: 48%;
		float: left;
		margin: 10px;
	}

	#gerais1, #gerais2, #gerais3 {
		float: left;
		width: 32%;
		margin-left: 10px;
	}

	#gerais2 img {
		margin-left: 23%;
	}

	#depo1, #depo2 {
		box-shadow: 10px 10px 5px #888888;
		border-radius: 5px;
		width: 45%;
		float: left;
		margin: 0 0 15px 15px;

	}

	footer {
		height: 200px;
		clear: both;		
	}


	#slogan {
		margin-right: 10px;
		font-weight: bold;
		letter-spacing: 7px;
		float: left;

	}

	p {
		color: white;
		font-weight: bold;
	}

	
}
